__pycache__/
#compiled files
*.pyc
#don't push data
*.npy
env
.DS_Store
passwords.txt
gridworld_experiment/feedback_config.php
gridworld_experiment/bonus_config.php
gridworld_experiment/database_config.php

